:root {
    --primary-color: #1E3A8A;
    --secondary-color: #F97316;
    --background-color: #F3F4F6;
    --background-color-2: #F5F7FA;
    --heading-color: #111827;
    --text-color: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-container {
    background-color: #fff;
}

/* Top */
.top {
    background-color: var(--background-color-2);
    height: 70px;
    display: block;
}

.top .container {
    padding: 10px 0 10px 10px;
    display: flex;
    max-width: 1000px;
    max-height: 70px;
    margin: 0 auto;
    gap: 15px;
}

.logo {
    height: fit-content;
    margin: auto 0;
}

.logo b {
    color: var(--secondary-color);
}

.logo h1 {
    margin-bottom: 0;
    margin-top: 3px;
    height: fit-content;
}

.logo a {
    text-decoration: none;
    color: var(--heading-color)
}

.info {
    height: fit-content;
}

#info-logo1 {
    margin: auto;

}

.info-1,
.info-2,
.info-3 {
    margin-top: 5px;
}

.info-1 p,
.info-2 p,
.info-3 p {
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px
}

.media .container {
    gap: 8px;
}

/* Top */

/* navbar */
.navbar {
    background-color: var(--primary-color);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1020;
    width: 100%;
}

.navbar .container {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 0;
}

.navbar .navbar-nav {
    width: 100%;
}

.navbar-brand {
    display: none;
}

#main-navbar {
    color: var(--secondary-color)
}

#navbar-1,
#navbar-2,
#navbar-3 {
    color: var(--background-color);
}

#navbar-1:hover,
#navbar-2:hover {
    color: var(--secondary-color)
}

#navbar-3 {
    margin-left: auto;
    background-color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 5px;
}

#navbar-3:hover {
    background-color: #ff6a00;
    scale: 1.02;
    transition: 0.3s;
}

.scrolling-active {
    background-color: rgba(30, 58, 138, 0.9);
    transition: 0.5s;
}

/* navbar */

/* hero */
.hero {
    background-color: var(--background-color-2);
    padding: 20px 0 40px;
    
}

.hero .container {
    max-width: 1000px;
    margin: 0 auto;
}

#hero-text {
    padding-top: 120px;
}

#hero-text h1 {
    font-size: 48px;
    color: var(--heading-color);
}

#hero-text b {
    color: var(--secondary-color);
}

#hero-text p {
    color: var(--text-color);
}

.hero-btn button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 13px 25px;
}

.hero-btn button:hover {
    background-color: var(--primary-color);
    color: var(--background-color-2);
    scale: 1.02;
    transition: 0.3s;
}

.hero-btn a {
    text-decoration: none;
    font-size: 16px;
    color: var(--heading-color);
    padding: 13px 0;
    border-bottom: 2px solid var(--heading-color);
}

.hero-btn a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* hero */

/* client */
.client {
    padding: 2px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.client h3 {
    color: var(--heading-color);
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 16px;
    padding-left: 18px;
}

.client .container {
    display: flex;
}

.client .row {
    gap: 0px;
}

/* client */

/* layanan */
.layanan {
    padding-top: 85px;
}

.layanan .container {
    max-width: 1100px;
    margin: 0 auto;
}

.layanan h1 {
    color: var(--heading-color);
}

#layanan-p {
    font-size: 18px;
    padding-top: 14px;
    color: var(--text-color)
}

#layanan-card1 {
    margin-bottom: 50px;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

.layanan-card .col {
    padding: 0;
}

.layanan-card .card {
    padding: 25px 15px 15px 25px;
    width: 260px;
    height: 250px;
    background-color: var(--background-color);
    border-radius: 12px;
    border: none;
    justify-content: space-between;
}

#layanan-card1-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

#layanan-card1-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    scale: 1.05;
    transition: 0.3s;
}

.layanan-card .card h3 {
    font-size: 20px;
    color: var(--heading-color);
    margin-top: 12px;
    line-height: 1.15;
}

.layanan-card .card p {
    padding: 0;
    font-size: 14px;
    margin: 0;
}

#layanan-card-p4 {
    padding-bottom: 18px;
}

.layanan-card2 {
    max-width: 1130px;
    margin: 0 auto;
}

.layanan-card2 .container {
    width: auto;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.layanan-card2 .card {
    padding: 10px;
    border-radius: 20px;
}

.layanan-card2 .card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    scale: 1.02;
    transition: 0.3s;
}

.layanan-card2 img {
    border-radius: 16px;
}

.card-body {
    padding: 24px 10px 10px 10px;
}

.card-body h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

#layanan-card2-h {
    margin-top: 8px;
    margin-bottom: 32px;
}

#layanan-card2-p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 14px;
}

.card-body .btn {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    border-radius: 18px;
}

#layanan-card2-cardiff {
    background-color: var(--primary-color);
    color: var(--background-color)
}

#layanan-card2-cardiff .btn {
    background-color: var(--secondary-color);
}
/* layanan */

/* tentang */
.tentang {
    margin-top: 100px;
    background-color: var(--primary-color);
    height: fit-content;
    padding: 60px 0 40px;
}

.tentang .container {
    max-width: 1000px;
    margin: 0 auto;
}

.tentang-header h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.tentang-header b {
    color: var(--secondary-color);
}

.visi-misi {
    justify-content: space-between;
    gap: auto;
}

.visi-misi-card {
    width: 430px;
    height: 170px;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 25px;
    display: flex;
}

.visi-misi-text {
    margin-left: 15px;
}

.visi-misi-text h3 {
    font-size: 24px;

}

.visi-misi-text p {
    font-size: 14px;
    color: var(--text-color);
}

.visi-text {
    color: var(--primary-color);
}

.misi-text {
    color: var(--secondary-color)
}

.tentang-img img {
    border-radius: 8px;
    display: block;
    object-fit: cover;
}

.tentang-img {
    position: relative;
    display: inline-block;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
}

.bottom-left p {
    color: var(--background-color);
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 0;
    font-size: 12px;
}

.tim-content {
    display: flex;
    gap: 30px;
    max-width: 1100px;
    margin: 90px auto auto auto;
}

.tim-text {
    margin: 60px 0 40px 0;
}

.tim-text h1 {
    color: var(--background-color);
}

.tim-text a {
    color: var(--background-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 5px;
}

#person {
    background-color: var(--background-color);
    width: 255px;
    height: 250px;
    border-radius: 5px;
    position: relative;
    overflow: visible;
}

#person:hover {
    background-color: var(--secondary-color);
    transition: 0.3s;
}

#person img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    display: block;
    z-index: 2;
}

#person img:hover {
    transform: translateX(-50%) scale(1.05);
}
.person-text {
    padding-left: 8px;
}
.person-text h3 {
    margin-top: 10px;
    color: var(--background-color);
    font-weight: 400;
}
.person-text p {
    color: var(--background-color);
    font-weight: 300;
}

.bos, .person1, .person2, .person3 {
    display: flex;
    flex-direction: column;
}
/* tentang */

/* contact */
.contact {
    width: 100%;
    padding-top: 80px;
    background-color: var(--background-color-2);
}
.contact .container {
    /* max-width: 1600px; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
}
.map {
    width: 520px;
    height: 400px;
    padding-left: 150px;
    padding-right: 20px;
}
.map p {
    font-size: 24px;
    text-align: center;
    color: var(--heading-color);
    font-weight: bolder;
    margin-bottom: 8px;
}
.map iframe {
    width: 100%;
    /* height: 100%; */
}
.form {
    padding-right: 130px;
}
/* contact */

/* form */
.form {
    width: 800px;
    padding: 20px;
}
.form-container {
            background-color: var(--primary-color);
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
        .form-container h2 {
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 15px;
            max-width: 100%;
        }
        .form-container label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: var(--background-color);
        }
        .form-container input,
        .form-container select,
        .form-container textarea {
            padding: 10px;
            width: 100%;
            max-width: 100%;
            border: 0.5px solid #444;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            box-sizing: border-box;
        }
        .form-container input:focus {
            border-color: beige;
            transition: 0.3s
        }
        .form-container button {
            width: 100%;
            background-color: var(--secondary-color);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: 0.3s;
        }
        .form-container button:hover {
            background-color: black;
        }
        .error {
            color: red;
        }
        #form-header {
            font-size: 36px;
        }
        #form-sub {
            color: var(--background-color);
            margin-bottom: 25px;
            font-size: 14px;
        }
/* form */

/* footer */
.footer-heading {
    color: var(--secondary-color);
}
.footer {
    background-color: var(--primary-color);
}
.footer p {
    color: var(--background-color);
}
#footer-logo {
    height: fit-content;
    margin: auto 0;
}

#footer-logo b {
    color: var(--secondary-color);
}

#footer-logo h1 {
    margin-bottom: 0;
    margin-top: 3px;
    height: fit-content;
}

#footer-logo a {
    font-weight: bold;
    text-decoration: none;
    color: var(--heading-color)
}
/* footer */
/* Responsive */
@media (max-width: 600px) {
    .top {
        display: none;
    }

    .hero {
        padding: 60px 0 32px;
    }

    .client {
        margin-top: 50px;
    }
    .client h3 {
        margin-bottom: 15px;
    }
    
    .navbar .container {
        padding: 0;
    }

    .navbar-brand {
        display: block;
        color: var(--heading-color);
        font-weight: bold;
    }

    .navbar-brand b {
        color: var(--secondary-color);
    }

    #nav-list {
        background-color: var(--primary-color);
        padding-bottom: 8px;
    }

    #navbar-3 {
        margin: 0;
    }

    .navbar-brand {
        margin: 0;
    }

    /* layanan cards responsif */
    .layanan-card .card {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }
    
    .layanan-card2 .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .layanan-card2 .card {
        width: 100% !important;
        max-width: 380px !important;
        height: auto !important;
    }

    /* visi-misi responsif */
    .visi-misi {
        flex-direction: column;
        gap: 30px;
    }
    
    .visi-misi-card {
        width: 100%;
    }
    
    .tentang-img {
        width: 100%;
    }
    
    .tentang-img img {
        width: 100%;
        height: auto;
    }

    /* tim content responsif */
    .tim-content {
        flex-direction: column;
        gap: 30px;
        margin: 50px auto auto auto;
    }
    
    .bos, .person1, .person2, .person3 {
        align-items: center;
    }

    /* contact form responsif */
    .contact .container {
        flex-direction: column;
        padding: 20px;
    }
    
    .map {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    
    .form {
        width: 100%;
        padding: 0;
    }
    
    .form-container {
        padding: 20px;
    }
    
    .form-container h2 {
        font-size: 24px;
    }
    
    #form-sub {
        font-size: 12px;
    }

    /* footer responsif */
    .footer {
        padding: 20px;
    }
    
    #footer-logo {
        margin-bottom: 20px;
    }
    
    #footer-logo a {
        margin-left: 0;
        font-size: 18px;
    }
    #footer-logo p {
        text-align: center;
    }
    #footer-contact {
        margin-bottom: 20px;
    }
    #hero-text {
    padding-top: 0;
}
}


/* tablet breakpoint: keep spacing between hero and client */
@media (max-width: 991.98px) {
    .client {
        margin-top: 30px !important;
    }
}

/* responsive */